@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";

@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource-variable/plus-jakarta-sans";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(0.98 0.01 242.83);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.35 0.1 267.96);
  --primary-foreground: oklch(0.985 0 0);
  --primary-support: oklch(0.88 0.05 229.77);
  --primary-support-foreground: var(--primary);
  --secondary: oklch(0.91 0.11 91.55);
  --secondary-foreground: var(--primary);
  --tertiary: oklch(0.43 0.1 154.12);
  --tertiary-foreground: oklch(1 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --neutral: oklch(0.99 0.01 84.58);
  --neutral-foreground: var(--primary);
}

@theme inline {
  --font-sans: "Plus Jakarta Sans Variable", sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-discord: #7289da;
  --color-whatsapp: #25d366;
}

@layer base {
  * {
    @apply border-border outline-ring/50 text-pretty;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  /* Background */
  --color-background: #f4faff;

  /* Primary */
  --color-primary-100: #91a3da;
  --color-primary-200: #5a74c8;
  --color-primary-300: #3650a2;
  --color-primary-400: #24356b;
  --color-primary-500: #151f3f;

  /* Secondary */
  --color-secondary-100: #fff5d7;
  --color-secondary-200: #feeaae;
  --color-secondary-300: #fee086;
  --color-secondary-400: #fed65e;
  --color-secondary-500: #fdcc36;
  --color-secondary-600: #fdc10e;
  --color-secondary-700: #e1a902;
  --color-secondary-800: #b98b02;
  --color-secondary-900: #916d01;
  --color-secondary-1000: #694f01;

  /* Neutral */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #e8e8e8;
  --color-neutral-300: #d2d2d2;
  --color-neutral-400: #bbbbbb;
  --color-neutral-500: #a4a4a4;
  --color-neutral-600: #8e8e8e;
  --color-neutral-700: #777777;
  --color-neutral-800: #606060;
  --color-neutral-900: #4a4a4a;
  --color-neutral-1000: #333333;

  /* Tertiary */
  --color-tertiary-100: #d9effa;
  --color-tertiary-200: #b3dff5;
  --color-tertiary-300: #87ccef;
  --color-tertiary-400: #5bbae9;
  --color-tertiary-500: #2fa7e4;
  --color-tertiary-600: #1a8dc7;
  --color-tertiary-700: #146e9b;
  --color-tertiary-800: #0f4f6f;

  /* Fourtiary */
  --color-fourtiary-100: #76e8ac;
  --color-fourtiary-200: #32dc82;
  --color-fourtiary-300: #1ca35b;
  --color-fourtiary-400: #105f35;
  --color-fourtiary-500: #0a3a21;

  /* Yellow */
  --color-yellow-100: #ffdb43;
  --color-yellow-200: #dfb400;

  /* Green */
  --color-green-100: #84ebb4;
  --color-green-200: #1fc16b;

  /* Red */
  --color-red-100: #febcc2;
  --color-red-200: #fc7a85;
  --color-red-300: #fb3748;
  --color-red-400: #e70518;
  --color-red-500: #a30311;
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
